/*enleve les margin et padding par defaut*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*Variable de coleur */
:root{
    --color1:#3d9f96;
    --color2:#ababab;
    --color3:#FFFFFF;
    --color4:#7e7e7e;
}
/*Propriete commun du site*/
h1{
    font-size: 60px;
    margin: 0 0 2% 0; 
    font-weight: 200;
    font-family: 'Open Sans', Arial, sans-serif;
}
h1 span{
    font-weight: 700;
    font-family: 'Raleway', Arial, sans-serif;
}
h3{
    font-size: 30px;
    font-family: 'Raleway', Arial, sans-serif; 
}
h5{
    margin: 2%;
    font-size: 30px;
    color: var(--color1);
    font-family: 'Raleway', Arial, sans-serif;
}
p{
    font-size: 20px;
    color: var(--color2);
    font-family: Helvetica, Arial, sans-serif, 'Raleway'; 
}
a{
    font-size: 20px;
    font-family: Helvetica, Arial, sans-serif, 'Raleway'; 
}
button{
    border: none;
    margin: 10px 0;
    font-size: 20px;
    padding: 10px 20px;
    color: var(--color3);
    background-color: var(--color1);
    border-radius: 10% 10% / 50% 50%;
}
ul{
    display: flex;
}
li{
    display: block;
}
.ball{
    display: none;
}
.mobile{
    display: block;
}
img{
    height: auto;
    max-width: 100%;
}
/*header*/
header{
    padding: 1% 0 1% 2%;
    border-bottom:3px solid var(--color4);
    font-family: Helvetica, Arial, sans-serif;
    background-image: url(../img/header_bg.jpg);
}
header> .cadre{
    width: 70%;
    margin: auto;
    display: flex;
    align-items: center;
}
header ul{
    width: 35%;
    color:	var(--color3);  
}
header ul li{
    width: 50%;
}
header .sary{
    width:40%;
}
header a{
    width:35%;
    text-align: right;
    color: var(--color1);
}
li> a{
    text-decoration: none;
    color: var(--color3);
}
/*Premiere section*/
.voalohany {
    padding: 2% 0 0 0;
    text-align: center;
    background-image: url(../img/seperator1-.jpg);
}
.voalohany h1{
    color: var(--color3);
}
.voalohany p{
    width: 50%;
    margin: auto;
}
.ordinateur{
    width: 50%;
    margin: auto;
}
/*Separateur*/
.ftran{
    padding: 1% 0;
    text-align: center;
    background-color: var(--color4);
}
.ftran ul{
    width: 60%;
    margin: auto;
    display: flex;
}
.ftran ul li{
    width: 20%;
    margin: 0 1%;
}
/*deuxieme section*/
.faharoa{
    padding: 2% 0%;
    text-align: center;
}
.faharoa > p{
    width: 40%;
    margin: auto;
}
.map{
    width: 70%;
    padding: 4%;
    margin: auto;
    display: flex;
    background-image: url(../img/map_bg.png);
}
.col1, .col3{
    width:40%;
    display: block;
}
.col1 .titre{
    display: flex;
    align-items: center;
}
.col3 .titre{
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
}
.line, .line1{
    width: 80%;
    height: 27%;
    margin: 4% 2% 0 2%;
    text-align: initial;
}
.col3 p, .line1 h3{
    text-align: right;
}
.titre{
    margin: 0 2% 3% 0;
}
/*centre*/
.col2{
    width: 20%;
    position: relative;
}
.col2 .fond{
    width: 90%;
    height: 95%;
}
.col2 .play{
    width: 100%;
    top: 45%;
    position: absolute;
}
/*Troisieme section*/
.fahatelo{
    padding: 4%;
    text-align: center;
    background-image: url(../img/seperator2.jpg);
}
/*petit cercle*/
.cercle{
    width: 80px;
    height: 80px;
    margin: auto;
    border-radius: 40px;
    background-color: var(--color3);
}
.fahatelo p{
    width: 30%;
    margin: auto;
    margin-top: 2%;
}
/*Quatrieme section*/
.awes{
    display: flex;
}
figure{
    width: 33%;
    display: block;
    margin: 2% 2% 2% 0;
}
figcaption{
    margin: 10px 0;
    font-size: 30px;
}
.appli{
    display: flex;
    padding: 2% 0;
    line-height: 3em;
}
.image{
    width: 50%;
    text-align: center;
    position: relative;
}
.logo{
    width: 100%;
    bottom: 50%;
    text-align: left;
    position: absolute;
}
.logo img{
    width: 40%;
}
.text{
    text-align: center;
    width: 50%;
    margin: 0 2%;
}
.text h1{
    text-align: initial;
}
.text p{
    text-align: justify;
}
.text button{
    padding: 10px 25px;
}
/*footer*/
/*Information sur sayna*/
.footer{
    width: 80%;
    margin: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.mbola{
    gap: 20px;
    width: 100%;
    display: grid;
    grid-template-columns:2fr 1fr 1fr ;
}
.sayna{
    align-self: flex-end;
}
.ndriana{
    line-height: 30px;
    text-align: justify;
}
/*Barre de footer*/
.barre{
    width: 100%;
    display: flex;
    align-items: center;
    margin: 80px 0 20px 0;
}
.lova{
    width: 50%;
}
footer ul{
    width: 50%;
    margin: auto;
    display: flex;
}
footer ul li{
    width: 25%;
    margin: 0 20px;
    display: inline;
}